/* General */

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(225, 225, 231);
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1.5fr 7fr 1fr;
}

h1 {
  letter-spacing: 3px;
  font-size: 40px;
}

h6 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: bold;
}

/* Header */

.header {
  background-color: rgb(79, 79, 107);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gameboard */

.gameboard-container {
  background-color: rgb(91, 91, 123);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, minmax(75px, 100px));
  grid-template-columns: repeat(3, minmax(75px, 100px));
  gap: 12px;
  font-size: 40px;
  font-weight: bold;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 237);
  color: rgba(0, 0, 0, 0.657);
  border-radius: 5px;
  border: 2px solid rgb(164, 164, 164);
  box-shadow: 0px 0px 10px 2px #7a7a7a26;
  transition-property: all;
  transition-duration: 200ms;
}

.square:hover {
  box-shadow: 0px 0px 10px 5px rgba(184, 183, 183, 0.6);
  cursor: pointer;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: underline;
}

#controls, #message {
  background-color: rgb(91, 91, 123);
}

input {
  background-color: rgb(79, 79, 107);
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  border: white 1px solid;
}

input::placeholder {
  color: lightgrey;
  letter-spacing: 2px;
}

#start-button, #restart-button {
  background-color: rgb(79, 79, 107);
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
}

#start-button:hover, #restart-button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: rgb(79, 79, 107);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}